<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home</h1>
    <div sec:authorize="!isAuthenticated()">
      <a href="/member/login">LOGIN</a>
    </div>
    <div>
      <a href="/sample/guest">GUEST</a>
    </div>
    <div sec:authorize="hasRole({'ROLR_USER','ROLR_MANAGER', 'ROLE_ADMIN'})">
      <a href="/sample/member">MEMBER</a>
    </div>
    <div sec:authorize="hasRole('ROLR_ADMIN')">
      <a href="/sample/admin">ADMIN</a>
    </div>
  </body>
</html>
