<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="title">
    <title>도서 정보 수정</title>
  </th:block>
  <th:block layout:fragment="css">
    <style>
      label {
        font-weight: bold;
      }
    </style>
  </th:block>
  <div layout:fragment="content">
    <h3>Book Modify</h3>
    <form method="post">
      <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" id="code" name="code" th:value="${book.code}" readonly />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${book.title}" readonly />
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" th:value="${book.author}" readonly />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price" th:value="${book.price}" />
      </div>
      <a class="btn btn-success" th:href="@{/book/list}">목록</a>
      <button type="submit" class="btn btn-primary">확인</button>
      <button type="button" class="btn btn-danger">삭제</button>
    </form>
    <form th:action="@{/book/remove}" method="post" id="actionForm">
      <input type="hidden" name="code" th:value="${book.code}" />
    </form>
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
