<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="title"></th:block>
  <th:block layout:fragment="css"></th:block>

  <div th:replace="~{fragments/sidebar::sidebar}"></div>
  <div th:replace="~{fragments/navbar::navbar}"></div>
  <div layout:fragment="content">
    <h1>Board Create</h1>
    <form th:action="@{/board/create}" method="post" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" rows="10" id="content" name="content" th:value="${dto.content}"></textarea>
      </div>
      <div class="mb-3">
        <input type="hidden" class="form-control" id="email" name="email" th:value="#{#authenticated.name}" />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">작성자</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          th:value="#{#authenticated.principal.name}"
          readonly
        />
      </div>

      <button type="submit" class="btn btn-primary">저장</button>
      <a
        th:href="@{list(page=${pageRequestDTO.page},size=${pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
        class="btn btn-success"
        >목록</a
      >
    </form>
  </div>
  <th:block layout:fragment="script"></th:block>
</html>
